<p id="notice"><%= notice %></p>
<div class="flex-container">
  <div class="flex-item">
    <h1>Dental Products</h1>
  </div>
</div>


<body>
  <div class="flex-container">
    <% @dental_products.each do |dental_product| %>
      <div class="flex-item-product">
        <div class="card">
          <div class="card-content">
            <div class="product-title">
              <%= dental_product.title %>
            </div>
            <div class="product-subtitle">
              <%= dental_product.subtitle %>
            </div>
            <div>
              <%= image_tag dental_product.avatar.url(:medium) %>
            </div>
            <div class="product-description">
              <%= dental_product.description %>
            </div>
            <div>
              <%= dental_product.image %>
            </div>
            <!-- <%= link_to 'Show', dental_product %>
            <%= link_to 'Edit', edit_dental_product_path(dental_product) %>
            <%= link_to 'Destroy', dental_product, method: :delete, data: { confirm: 'Are you sure?' } %> -->
          </div>
        </div>
      </div>
     <% end %>
 </div>
</body>

<br>

<%= link_to 'New Dental Product', new_dental_product_path %>
