<p id="notice"><%= notice %></p>
<div class="flex-container">
  <div class="flex-item">
    <h1>Cryo-Therapy Products</h1>
  </div>
</div>

<body>
  <div class="flex-container">
    <% @cryo_products.each do |cryo_product| %>
      <div class="flex-item-product">
        <div class="card">
          <div class="card-content">
            <div class="product-title" style="margin-top:30px">
              <%= cryo_product.title %>
            </div>
            <div class="product-subtitle">
              <%= cryo_product.subtitle %>
            </div>
            <div class="product-description">
              <%= cryo_product.description %>
            </div>
            <div>
              <%= cryo_product.image %>
            </div>
            <!-- <%= link_to 'Show', cryo_product %>
              <%= link_to 'Edit', edit_cryo_product_path(cryo_product) %>
              <%= link_to 'Destroy', cryo_product, method: :delete, data: { confirm: 'Are you sure?' } %> -->
         </div>
        </div>
      </div>
    <% end %>
  </div>
</body>


<br>

<!-- <%= link_to 'New Cryo Product', new_cryo_product_path %> -->
